@model List<OnlineShop.Models.Category>
@{
    Layout = null;
}
<!doctype html>
<html>
<body>

    <table style="width: 800px;border:0px;">
        <tr>
            <td colspan="2" style="background-color:#85C2FF;">
                <h1 style="color: black;">Добро пожаловать!</h1>
            </td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="background-color:#C2EBFF;width:150px;text-align:top;">
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </h4>
                <h4>Смотреть по категориям:</h4>
                <ol>
                    @foreach (var item in Model)
                    {
                    <li>

                        @Html.ActionLink(
linkText: item.CategoryName + item.CategoryId.ToString(),
actionName: "ShowList",
controllerName: "Product",
routeValues: new {
    Id = item.CategoryId
},
htmlAttributes: null
)

                    </li> 
                    }
                </ol>
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Add">Добавить товар</a>
                </h4>
            </td>
            <td style="background-color:#fff;height:200px;width:400px;text-align:top;"> </td>
        </tr>
        <tr></tr>
    </table>
</body>
</html> 