<!doctype html>
<html>
<body>

    <table style="width: 800px;border:0px;">
        <tr>
            <td colspan="2" style="background-color:#85C2FF;">
                <h1 style="color: black;">Онлайн-магазин</h1>
            </td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="background-color:#C2EBFF;width:150px;text-align:top;">
                <h3>Смотреть по категориям:</h3>
                <ol>
                    <li>
                        <a href="~/Product/ShowList?CategoryId = 1">Все товары </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Овощи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Фрукты</a>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Мясные продукты</a>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Молочные продукты</a>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Мучные изделия</a>
                </ol>
                <h3 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Добавить товар</a>
                </h3>
                <h3 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Изменить товар</a>
                </h3>
            </td>
            <td style="background-color:#fff;height:200px;width:400px;text-align:top;">
                Место для контента
            </td>
        </tr>
    </table>

</body>
</html> 