@model List<OnlineShop.Models.Product>
@{
    Layout = null;
}
<!doctype html>
<html>
<body>

    <table style="width: 800px;border:0px;">
        <tr>
            <td colspan="2" style="background-color:#85C2FF;">
                <h1 style="color: black;">Добро пожаловать!</h1>
            </td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="background-color:#C2EBFF;width:150px;text-align:top;">
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </h4>
            </td>

            <td style="background-color:#fff;height:200px;width:400px;text-align:top;">
               <table>
                    <tr><th> НАЗВАНИЕ </th><th>ЦЕНА</th><th>ДЕЙСТВИЯ</th></tr>
                    @foreach (var item in Model)
                    {
                        <tr>                            
                            <td>@item.ProductName</td>
                            <td>@item.Price</td>
                            <td><a href="~/Product/DeleteFromOrder/@item.ProductId">Отменить</a></td>
                        </tr>
                    }
                    </table{>
                    <td>ИТОГ:  @Model.Sum(i => i.Price)сомон</td>
                    <div>
                    <form method="post">
                        <table>
                            <input type="hidden" name="purchaseSum" value="@Model.Sum(i => i.Price)"/>
                            <tr>
                                <td>Адрес:</td>
                                <td><input type="text" name="customerAdress" /> </td>
                            </tr>
                            <tr>
                                <td>Телефон:</td>
                                <td><input type="text" name="customerTelephone" /></td>
                            </tr>
                            <tr>
                                <td>Время доставки:</td>
                                <td><input type="text" name="deliveryTime" /></td>
                            </tr>

                            <tr><td><input type="submit" value="Оплатить" /> </td><td></td></tr>
                        </table>
                    </form>
                        </div>
</td>
        </tr>
        <tr></tr>
    </table>
</body>
</html> 