
@model List<OnlineShop.Models.Product>
@{
    Layout = null;
}
<!doctype html>
<html>
<body>

    <table style="width: 800px;border:0px;">
        <tr>
            <td colspan="2" style="background-color:#85C2FF;">
                <h1 style="color: black;">Добро пожалловать в онлайн-магазин</h1>
            </td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="background-color:#C2EBFF;width:150px;text-align:top;">
                <h3>Смотреть по категориям:</h3>
                <ol>
                    <li>
                        <a href="~/Product/ShowList?CategoryId = 1">Все товары </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Овощи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Фрукты</a>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Мясные продукты</a>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Молочные продукты</a>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Мучные изделия</a>
                </ol>
                <h3 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Add">Добавить товар</a>
                </h3>
                <h3 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Изменить товар</a>
                </h3>
            </td>
            <td style="background-color:#fff;height:200px;width:400px;text-align:top;">
                <div>
                    <table border="1">
                        <tr><th> id </th><th> Название </th><th>Категория</th><th>Цена</th></tr>
                        @foreach (var item in Model)
                        {
                            <tr><td>@item.ProductId</td><td>@item.ProductName</td><td>@item.CategoryId</td><td>@item.Price</td></tr>
                        }
                        </table>
                </div>
            </td>
        </tr>
        <tr></tr>
    </table>


</body>
</html> 