
@model List<OnlineShop.Models.Product>
@{
    Layout = null;
}
<!doctype html>
<html>
<style>
        table {
        border-spacing: 15px;
    }
</style>
<body>

    <table style="width: 800px;border:0px;">
        <tr>
            <td colspan="2" style="background-color:#85C2FF;">
                <h1 style="color: black;">Добро пожалловать в онлайн-магазин</h1>
            </td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="background-color:#C2EBFF;width:150px;text-align:top;">
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </h4>          
            </td>
            <td style="background-color:#fff;height:200px;width:400px;text-align:top;">
                <div>
                   
                        <table>
                            <tr>
                                <th>id:</th>
                                <th><input type="text" name="Id" /></th>
                                <td><a href="~/Product/Change/Id">Изменить</a></td></th>
                                <th><input type="submit" value="Удалить" /></th>
                            </tr>
                        </table>
                    
                        <p> </p>
                        <table border="0">
                            <tr><th> id </th><th> Название </th><th>Категория</th><th>Цена</th></tr>
                            @foreach (var item in Model)
                            {
                                <tr><td>@item.ProductId</td><td>@item.ProductName</td><td>@item.CategoryId</td><td>@item.Price</td></tr>
                            }
                            </table{>
                </div>
        </td>
        </tr>
        <tr></tr>
    </table>


</body>
</html> 