@{
    Layout = null;
}
<!doctype html>
<html>
<body>

    <table style="width: 800px;border:0px;">
        <tr>
            <td colspan="2" style="background-color:#85C2FF;">
                <h1 style="color: black;">Добро пожаловать!</h1>
            </td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="background-color:#C2EBFF;width:150px;text-align:top;">
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </h4>
            <td style="background-color:#fff;height:200px;width:400px;text-align:top;">
            <h3>СПАСИБО ЗА ПОКУПКУ. МЫ ВСЕГДА ВАМ РАДЫ!</h3>
            </td>
        </tr>
        <tr></tr>
    </table>
</body>
</html> 